packages/
Mentoring/bin/
Mentoring/obj/
ExtendedE3S/obj/
ExtendedE3S/bin/
ExpressionTransformation/obj/
ClassMapper/obj/
ClassMapperTests/obj/
ExpressionTransformationTest/obj/
ExpressionTransformationTest/bin/
ClassMapperTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
ClassMapperTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
ConsoleApp/bin/
ConsoleApp/obj/
E3S/obj/
E3S/bin/
XmlTools/obj/
XmlToolsTests/obj/
XmlToolsTests/bin/
PowerStateManagement/obj/
IanaUtilitiesTests/obj/
IanaUtilitiesTests/bin/
IanaUtilities/obj/
